
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;
}


/* CSS Document */
/*------------------------------------*\
RESET
\*------------------------------------*/

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strike,strong,sub,sup,tt,var,
b,i,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
section, article, aside, footer, header, hgroup, nav{
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
body{
line-height:1;
}
ol,ul{
list-style:none;
}
blockquote,q{
quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
content:'';
content:none;
}

ins{
text-decoration:none;
}
del{
text-decoration:line-through;
}

table{
border-collapse:collapse;
border-spacing:0;
}
a {
    transition: .2s ease-in-out;
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

ul{
    margin: 0;
}
body{
    font-family: 'Futura';
    font-size: 14px;
    color: #333;
}
strong{
    font-weight: bold;
}
b{
    font-weight: bold;
}
i{
    font-style: italic;
}
button{
    border: none;
    background: none;
}
button:focus {outline:none;}
input:focus, input[type="checkbox"]:focus {outline:none;}
textarea:focus {outline:none;}
select:focus {outline:none;}
@media (min-width: 1400px){
    .container{
        width: 1300px;
    }
}
.toggle_mob_nav{
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
}
.all_success_cover{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 99;
}
.alert-success{
    position: fixed;
    max-width: 500px;
    top: 50%;
    left: 50%;
    line-height: 1.2;
    font-size: 17px;
    transform: translate(-50%,-50%);
    z-index: 101;
}
.vmiddle{
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0 -2px;
}
.parallax{
    background-attachment: fixed !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
     -moz-box-shadow:    inset 0 0 14px #000000;
   -webkit-box-shadow: inset 0 0 14px #000000;
   box-shadow:         inset 0 0 14px #000000;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 56.25%;
}
.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
button:hover{
    transition: 0.4s;
    box-shadow: none;
}
body{
    font-family: "OpenSans-Regular";
    font-size: 12px;
    color: #383430;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}
.header .top_nav li{
    display: inline-block;
    margin-right: 20px;
}
.header .top_nav li a{
    color: #000;
    text-decoration: none;
}
.header .top_nav li img{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.header .top_nav li p{
    font-size: 14px;
    color: #000;
}
.header .top_nav li:hover p{
    color: #fd9400;
    transition: 0.4s;
}
.top_poster{
    padding-top: 190px;
    padding-bottom: 90px;
    background: url(../img/top_bg.png);
    background-size: cover;  
}
.top_poster img{
    margin-bottom: 25px;
}
.top_poster h1{
    font-family: "OpenSans-Light";
    font-size: 25px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
.welcome{
    padding-top: 50px;
    padding-bottom: 40px;
}
.welcome .container{
    padding-bottom: 45px;
    border-bottom: 1px solid #fec36f;
}
.welcome h3{
    font-family: "OpenSans-Light";
    font-size: 18px;
    color: #2a2521;
    margin-bottom: 25px;
}
.welcome p{
    font-family: "OpenSans-Light";
    font-size: 14px;
    color: #58585b;
    line-height: 1.3;
}
.services{
    padding-bottom: 60px;
}
.services .container{
    padding-bottom: 20px;
    border-bottom: 1px solid #fec36f;
}
.img_title{
    margin-bottom: 50px;
}
.img_title img{
    display: inline-block;
    width: 60px;
    margin-right: 5px;
    vertical-align: middle;
}
.img_title h4{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family: "OpenSans-Light";
}
.services .service{
    margin-bottom: 30px;
}
.services .service img{
    height: 45px;
    margin: 0 auto 30px;
}
.services .service h5{
    font-size: 14px;
    margin-bottom: 20px;
}
.services .service p{
    font-size: 12px;
    font-family: "OpenSans-Light";
    line-height: 1.2;
}

.contacts{
    position: relative; 
}
.contacts .container{
    padding-top: 70px;
    padding-bottom: 70px;
}
.contacts .contact_box_title{
    width: 410px;
    padding: 30px 15px 15px 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
}
.contacts .contact_box_title h6{
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}
.contacts .contact_box_title p{
    font-family: "OpenSans-Light";
    font-size: 12px;
    color: #58585b;
}
.contacts .info{
    width: 290px;
    padding: 20px 25px 0 25px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.62);
}
.contacts .info .icons{
    background: url(../img/contact_icons.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}
.contacts .info p{
    display: inline-block;
    vertical-align: bottom;
    font-family: "OpenSans-Light";
    font-size: 12px;
    color: #58585b;
}

.references{
    padding-top: 50px;
}
.references .container{
    padding-bottom: 50px;
    border-bottom: 1px solid #fec36f;
}
.references .carousel{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.references .carousel .owl-prev, .references .carousel .owl-next{
    position: absolute;
    height: 36px;
    width: 36px;
    top: 10px;
}
.references .carousel .owl-prev{
    background: url(../img/arrow_l.png);
    left: -20px;
}
.references .carousel .owl-next{
    background: url(../img/arrow_r.png);
    right: -20px;
}

.footer{
    padding-top: 5px;
    padding-bottom: 25px;
    border-bottom: 18px solid #fd9400;
}
.footer p.we_like{
    font-family: "OpenSans-Regular";
    font-size: 20px;
    color: #58585b;
}
.footer p.we_like span{
    color: #fd9400;
}
.footer .footer_nav{
    padding-top: 40px;
}
.footer .footer_nav li{
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    color: #000;
}
.footer .footer_nav li a{
    color: #000;
    text-decoration: none;
}
.footer .footer_nav li a:hover{
    color: #fd9400;
}
.footer .footer_nav li.light{
    font-family: "OpenSans-Light";
}